body {

}

/* background with fixed banner */
.background_banner {
    position:relative;
    color: white;
}
#background_video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    /* background: url('//demosthenes.info/assets/images/polina.jpg') no-repeat; */
    /* background-size: cover; */
    /* transition: 1s opacity; */
}

/* nav area */
.nav_1 {
    margin: 20px;
}
.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.custom-toggler.navbar-toggler {
    border-color: rgb(255,255,255,0);
} 
#item_1 {
    color: rgba(255,255,255,0);
    font-weight: bold;
    font-size: 1.7em;
}
#item_2 {
    color: rgba(255,255,255,0.5);
}
#item_2:hover {
    color: rgba(255,255,255,1);
    font-weight: bold;
}
#item_3 {
    color: rgba(255,255,255,0.5);
}

/* wanted to use this to go to #portfolio slowly, but doesn't seem to work this way*/
/* #easy_transition {
    transition: all 3s ease 0s;
} */

/* banner text area */
.banner_text_1 {
    position: absolute;
    top: 50vh;
    margin: 20px;
}
.banner_text_1 h1{
    font-size: 3.8em;
    margin-bottom: 13px;
}
.banner_text_2 {
    position: absolute;
    top: 90vh;
    right: 2%;
    float: right;
    margin-right: 5px;
    font-size: 0.7em;
}
.banner_text_2 a {
    color: rgba(255,255,255,0.4);
}


/* outer container area */
.outer_container {
    position: absolute;
    top: 100vh;
    margin: 2.5%;
    margin-bottom: 5%;
    width: 95%;
    /* height: 100vh; */
    z-index: 30;
    background: rgb(255,255,255,0);
}

/* portfolio area */
.pf_container {
    margin: 2.5%;
    margin-bottom: 5%;
    width: 95%;
    z-index: 50;
    background-image: url("../img/background-2.png");
    background-size: cover;
}
.pf_container h1 {
    margin: 5% 0 2% 10%;
    letter-spacing: 4px;
    font-weight: bold;
    z-index: 100;
    color: black;
}
.inner_container {
    margin: 20px;
    background: rgb(255,255,255,1);
}

.card_1 {
    padding: 0;
}
.pf-img {
    height: 300px;
    margin: 20px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.pf-img:hover {
    margin: 10px;
    height: 320px;
    transition: all 0.5s ease 0s;
}

.img-1 {
    background-image: url("../img/img-1.jpg");
}
.img-2 {
    background-image: url("../img/img-1.jpg");
}
.img-3 {
    background-image: url("../img/img-1.jpg");
}
.img-4 {
    background-image: url("../img/img-1.jpg");
}
.img-5 {
    background-image: url("../img/img-1.jpg");
}
.img-6 {
    background-image: url("../img/img-1.jpg");
}

/* bot-video area */
/* .bot-video {
    margin: 0%;
    width: 85%;
    z-index: 50;

    height: 300px;
    background: red;
}
#bot_video {
    min-width: 100%;
}

.bot-video-content {
    
    position: absolute;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
} */

section {
    /* height: 100vh; */
    overflow: hidden;
    position: relative;
  }
  video {
    left: 50%;
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .vignette {
    background: rgba(0, 0, 0, 0.6);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
  }
  /* h1 {
    color: #fff;
    font-size: 4rem;
    margin: 3rem;
    position: absolute;
    text-transform: uppercase;
    width: 100%;
    z-index: 2;
  } */











/* footer area */
footer {
    color: rgba(255,255,255,0.7);
    margin: 2.5% 4%;
    text-align: right;
}
footer a {
    color: rgba(255,255,255,0.7);
    font-size: 0.7em;
}
footer p {
    margin-bottom: 0;
}


/* portfolio modal */
#test-img {
    background-image: url("../img/img-2.jpeg");
    width: 300px;
    height: 300px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.inner-img {
    height: 500px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#img_1-1 {
    background-image: url("../img/img-4.jpeg");
}
#img_1-2 {
    background-image: url("../img/img-5.png");
}
#img_1-3 {
    background-image: url("../img/img-6.jpg");
}





@media only screen and (max-width : 980px) {
}

@media only screen and (max-width : 768px) {

    .banner_text_1 h1 {
        font-size: 2.4em;
    }
    .banner_text_1 h3{
        font-size: 1em;
    }
}

@media only screen and (max-width : 640px) {
}

@media only screen and (max-width : 425px) {

    .banner_text_1 h3 {
        font-size: 0.8em;
    }
    .banner_text_2 a {
        font-size: 0.4em;
    }
}