body {
    background: #202325;
    font-family: 'Raleway', sans-serif;
    justify-content: center;
}
/*******************************************
                background
*******************************************/
#background_video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
}
section {
    background: white;
    margin: auto;
}
/*******************************************
                color:hover
*******************************************/
.hover-bounce {
    padding: .2em;
}
.blue{
    color: skyblue;
    text-shadow: 1px 1px 2px black, 0 0 25px white, 0 0 5px black;
}
.hover-pink:hover{
    color: pink;
    text-shadow: 1px 1px 2px black, 0 0 25px white, 0 0 5px black;
}
.hover-blue:hover{
    color: skyblue;
    text-shadow: 1px 1px 2px black, 0 0 25px white, 0 0 5px black;
}
.hover-yellow:hover{
    color: yellow;
    text-shadow: 1px 1px 2px black, 0 0 25px white, 0 0 5px black;
}
/*******************************************
                intro
*******************************************/
.welcome-area {
    text-align: center;
    height: 100vh;
    width: 100%;
    min-width: 100%;
    padding: 0;
    margin: 0;
}
.welcome-txt {
    margin-top: 16%;
    color: rgba(255,255,255,1);
    text-shadow: 1px 1px 2px black, 0 0 25px black, 0 0 5px yellow;
}
.typewriter{
    display: inline-block;
    overflow: hidden;
    border-right: .25em solid;
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto;
    letter-spacing: .15em;
    animation: 
    typing 1.5s steps(30, end),
    blink-caret .75s step-end infinite;
}
.typewriter h1{
    font-size: 3.5em;
    font-weight: bold;
    display: inline-block;
}
/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 22em }
}
/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: rgba(255,255,255,1) }
}

.social {
    margin: 2% auto;
    text-align: center;
}
.social a{
    color: rgba(255,255,255,1);
    text-shadow: 1px 1px 2px black, 0 0 25px black, 0 0 5px white;
    font-size: 2.5em;
    display: inline;
    margin: 0;
}

.background_source {
    float: right;
    margin: 15% 3% 0 0;
    font-size: 0.7em;
}
.background_source a {
    color: rgba(255,255,255,0.4);
    float: right;
}
/*******************************************
                NAV
*******************************************/
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    margin: 0 auto;
    text-shadow: 1px 1px 2px black, 0 0 25px white, 0 0 5px black;
}
.navbar-brand {
    padding-left: 5%;
}
.menu {
    padding-right: 5%;
    list-style-type: none;
}
#home {
    color: rgba(255,255,255,1);
    font-weight: bold;
    font-size: 4em;
}
#home:hover {
    color: pink;
}
.nav-item .nav-link.item_2 {
    color: rgba(255,255,255,0.7);
}
.nav-item .nav-link.item_2:hover {
    color: rgba(255,255,255,1);
    font-weight: bold;
}
/*******************************************
                ABOUT ME
*******************************************/
.about-area {
    padding: 3rem 0;
    text-align: center;
    width: 100%;
}
.about-area h2 {
    margin: 2rem 0;
    width: 100%;
    text-shadow: 1px 1px 2px black, 0 0 25px white, 0 0 5px white;
}
.ctnrbox {
    width: 90%;
    margin: auto;
}
.about-img {
    height: 300px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}
#about1 {
    background-image: url("../img/me/profile_1.jpg");
}
#about2 {
    background-image: url("../img//me/img-7.jpeg");
}
#about3 {
    background-image: url("../img//others/img-9.jpg");
}

.about {
    margin: auto;
}

.about p {
    text-align: left;
}
.about-more {
    text-align: center;
    margin: auto;
}
.next {
    margin-top: 2rem;
}

.banner_2 {
    text-align: left;
    margin: 20vh 30px;
    color: rgba(255,255,255,1);
}

.var-highlight{
    color: #C0AD60;
    font-weight: 300;
}
.string-highlight{
    color: rgba(253, 149, 90, 0.8);
}
.function-highlight{
    color: rgb(22, 100, 154);
    font-weight: 600;
}
.about-code {
    margin: auto;
}
#typewriter-dev{
        font-size: 0.8em;
        margin: 0 0 0 27%;
        font-family: "Courier New";
        text-align: left;
}
#typewriter-dev::after {
    content: "|";
    animation: blink 500ms linear infinite alternate;
}
@-webkit-keyframes blink{
    0%{opacity: 0;}
    100%{opacity: 1;}
}

@-moz-keyframes blink{
    0%{opacity: 0;}
    100%{opacity: 1;}
}

@keyframes blink{
    0%{opacity: 0;}
    100%{opacity: 1;}
}

/*******************************************
                experience
*******************************************/
.experience-area {
    background: #202325;
    border: 2px solid white;
    padding: 3rem 0;
    text-align: center;
    color: aliceblue;
    text-shadow: 1px 1px 2px black, 0 0 25px black, 0 0 5px yellow;
}

.experience-area h2 {
    margin: 2rem 0;
}
.experience-area table {
   margin: auto; 
}
.experience-bar {
    /* background-color: darkgray; */
    background-color: white;
    width: 500px; 
    height: 20px;
    margin: 1rem;
}
.ex {
    background-color: #202325;
    height: 19px; 
}
.htmlCss { width: 60%; }
.js { width: 70%; }
.jquery { width: 70%; }
.node { width: 30%; }
.java { width: 60%; }
.ror { width: 60%; }
.sql { width: 70%; }

.logo i {
    font-size: 4em;
    padding: 0.5em;
}
/*******************************************
                PORTFOLIO
*******************************************/
.portfolio-area {
    padding: 5rem 0;
    text-align: center;
}
.portfolio-area h2 {
    text-shadow: 1px 1px 2px black, 0 0 25px white, 0 0 5px white;
}
.pf-img {
    border: 1px solid lightgray;
    height: 320px;
    margin: 10px 5px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}
.pf-img:hover {
    margin: 10px 0;
    height: 320px;
    background-size: contain;
    transition: all 1s ease 0s;
}
.pf-placeholder-note {
    position: absolute;
    z-index: 50;
    top: 10%;
    right: 8%;
    color: rgba(47, 70, 143, 0.4);
    font-size: 0.5em;
}
/*******************************************
                contact
*******************************************/
.contact-area {
    width: 100%;
    border: 2px solid white;
    padding: 5rem 0;
    text-align: center;
    background: #202325;
    color: white;
}
.contact-btn {
    color: #202325;
}
.contact-area h2 {
    width: 100%;
}
.contact {
    margin: 2rem;
}
.contact-btn {
    margin-top: 20px;
    font-weight: bold;
}
#form-msg {
    height: 8rem;
}
/*******************************************
                footer area
*******************************************/
.ftr_area {
    border: 2px solid white;
    padding: 3px;
    background: rgb(255,255,255,1);
    height: 30vh;
    overflow: hidden;
    position: relative;
    color: white;
    text-align: center;
}
.ftr_info {
    position: absolute;
    width: 100%;
    height: 100%;
    /* float: right; */
    /* right: 2%;
    bottom: 5%; */
    z-index: 10;
}
.ftr_img_source {
    /* color: #202325; */
    color: white;
    text-shadow: black;
    float: left;
    margin: 2% 0 0 2%;
    font-size: 0.7em;
}
.ftr-links {
    margin-top: 7%;
    /* float: right; */
}
#ftr_video {
    position: absolute;
    top: 40%;
    left: 50%;
    /* height: 30vh; */

    min-height: 100%;
    min-width: 100%;
    transform: translate(-50%, -40%);
}
/*******************************************
                modal
*******************************************/
.description {
    text-align: center;
}
.card-title {
    text-align: center;
}
.tool-used {
    float: right;
}
.pf-modal-img {
    height: 500px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
#toLink {
    margin: -2% 0 0 0;
    float: right;
    font-size: 0.8em;
}
#toLink a {
    text-decoration: none;
}
#toLink:hover {
    font-size: 0.85em;
    font-weight: 900;
    transition: all 0.5s ease 0s;
}
.modal-btn {
    position: absolute;
}

#profile-1 {
    width: 100%;
}

/* portfolio screenshots */
#foogle-1 { background-image: url("../img/portfolio/foogle/foogle-1.png"); }
#foogle-2 { background-image: url("../img/portfolio/foogle/foogle-2.png"); }
#foogle-3 { background-image: url("../img/portfolio/foogle/foogle-3.png"); }
#foogle-4 { background-image: url("../img/portfolio/foogle/foogle-4.png"); }
#giphy-1 { background-image: url("../img/portfolio/giphy/giphy-1.png"); }
#giphy-2 { background-image: url("../img/portfolio/giphy/giphy-2.png"); }
#trainScheduler-1 { background-image: url("../img/portfolio/train-scheduler/train-scheduler-1.png"); }
#trainScheduler-2 { background-image: url("../img/portfolio/train-scheduler/train-scheduler-2.png"); }
#trivia-1 { background-image: url("../img/portfolio/trivia/trivia-1.png"); }
#trivia-2 { background-image: url("../img/portfolio/trivia/trivia-2.png"); }
#trivia-3 { background-image: url("../img/portfolio/trivia/trivia-3.png"); }
#trivia-4 { background-image: url("../img/portfolio/trivia/trivia-4.png"); }
#hangman-1 { background-image: url("../img/portfolio/hangman/cli-1.png"); }
#hangman-2 { background-image: url("../img/portfolio/hangman/cli-2.png"); }
#hangman-3 { background-image: url("../img/portfolio/hangman/cli-3.png"); }
#bamazon-1 { background-image: url("../img/portfolio/bamazon/customer.png"); }
#bamazon-2 { background-image: url("../img/portfolio/bamazon/manager.png"); }
#bamazon-3 { background-image: url("../img/portfolio/bamazon/supervisor.png"); }
#ff-1 { background-image: url("../img/portfolio/frind-finder/friend_finder_1.png"); }
#ff-2 { background-image: url("../img/portfolio/frind-finder/friend_finder_2.png"); }
#burger-1 { background-image: url("../img/portfolio/burger/burger.png"); }

#temp-1 { background-image: url("../img/others/img-1.jpg"); }
#temp-2 { background-image: url("../img/others/img-2.jpeg"); }
#temp-3 { background-image: url("../img/others/img-3.jpeg"); }
#temp-4 { background-image: url("../img/others/img-4.jpeg"); }
#temp-5 { background-image: url("../img/others/img-5.png"); }
#temp-6 { background-image: url("../img/others/img-6.jpg"); }






@media only screen and (max-width : 1024px) {
    #typewriter-dev{
        margin: 0 0 0 15%;
    }
}

@media only screen and (max-width : 980px) {
}

@media only screen and (max-width : 768px) {
    .welcome-txt {
        margin-top: 28%;
    }
    .welcome-txt h1 {
        font-size: 2.3em;
    }
    .ftr-links {
        margin-top: 10%;
    }
    #home {
        padding: 0;
    }
    .menu {
        padding: 0;
        margin: 0 auto;
    }
    .about {
        padding: 0 5px;
    }
    .about-img {
        height: 340px;
    }
    #typewriter-dev{
        margin: 0 0 0 8%;
    }
}

@media only screen and (max-width : 640px) {
}

@media only screen and (max-width : 425px) {
    .welcome-txt {
        margin-top: 30%;
    }
    .experience-bar {
        width: 200px;
    }
    .ftr-links {
        margin-top: 15%;
    }
    .contact label {
        font-size: 0.7em;
    }
    #home {
        padding: 0;
    }
    .menu {
        padding: 0;
        margin: 0 auto;
    }
    .item_2 {
        padding: 8px;
    }
    #about1 {
        margin-bottom: 30px;
    }
    .about-code {
        margin-top: 30px;
    }
    #about2, #about3 {
        display: none;
    }
    
}